body, html,h1,h2,h3,h4,h5,p{
	font-family: 'Sahel', 'Poppins', sans-serif;
	text-align: right;
	color: #404040 !important;
}
a,h6{
	font-family: 'Sahel', 'Poppins', sans-serif;
	text-align: right;
}


.category-item  {
  display: inline-block;
  margin-right: 10px; 
  margin-bottom: 0; 
}
.category-item li {
  list-style: none;
}
.category-item a {
  text-decoration: none;
  color: #333;
  list-style: none;
}

.category-item .count {
  font-size: 0.8em;
  color: #777;
  margin-left: 5px;
}
css

Copy
@media (max-width: 768px) {
 .divider{ 
    width: 100% !important;
 }
}
.badge-glass.badge-dark {
    font-size: medium;
}