{{ define "main" }}

<section class="section">
  <div class="container">
    <div style="margin-top:-190px;border-radius: 5px;background:#fff;" class="container">
      <div dir="rtl" class="row gap-y align-items-center">


        <div class="row gap-y">
          <div class="col-md-2"></div>
          <div class="col-md-8 ml-5 mr-5">
            <h3 class="fw-600 mt-4">{{.Title}}</h3>
            <p>{{ .Content }}</p>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>


    </div>
</section>

{{ end }}

