{{ define "main" }}

<section class="section">
  <div class="container">
    <div style="margin-top:-190px;border-radius: 5px;background:#fff;" class="container">
      <div dir="rtl" class="row gap-y align-items-center">


        <div class="row gap-y">
          <div class="col-md-2"></div>
          <div class="col-md-8 pr-6 ">
            <h3 class="fw-600 mt-8">{{ .Title }}</h3>
            <p>{{ .Content }}</p>
          </div>
          <div class="col-md-2">
            <img class="pl-6 mt-8" src="/img/post/about.jpg" alt="...">
          </div>
        </div>
      </div>


    </div>
</section>

{{ end }}