body, html,h1,h2,h3,h4,h5,p{
	font-family: 'Sahel', 'Poppins', sans-serif;
	text-align: right;
	color: #404040 !important;
}
a,h6{
	font-family: 'Sahel', 'Poppins', sans-serif;
	text-align: right;
}