<!-- Footer -->
<footer class="footer">
  <div class="container text-center">

    <div class="social social-sm social-bg-brand social-cycling">
      <a class="social-facebook" href="https://t.me/ipenir"><i class="fa fa-telegram"></i></a>
      <a class="social-twitter" href="#"><i class="fa fa-envelope"></i></a>
    </div>

    <br>
    <p class="small text-center">Copyright © 2026 | <a href="/">کتابفروشی قلم من</a>؛ حق نشر محفوظ است.</p>

  </div>
  <!-- Scroll top -->
  <button class="btn btn-circle btn-primary scroll-top"><i class="fa fa-angle-up"></i></button>
</footer><!-- /.footer -->


<!-- Scripts -->
<script src="/js/page.min.js"></script>
<script src="/js/script.js"></script>
<script type=text/javascript>persian={0:"۰",1:"۱",2:"۲",3:"۳",4:"۴",5:"۵",6:"۶",7:"۷",8:"۸",9:"۹"};
function traverse(e){if(e.nodeType==3){var t,n=e.data.match(/[0-9]/g);if(n!=null&&n.length!=0)for(t=0;t<n.length;t++)e.data=e.data.replace(n[t],persian[n[t]])}for(t=0;
t<e.childNodes.length;t++)traverse(e.childNodes[t])}traverse(document.body)</script>
</body>

</html>