<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>{{ .Title }}</title>
  <!-- Styles -->
  <link href="/css/page.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/font-face.css" rel="stylesheet"
    type="text/css" />
  <!-- Favicons -->


 
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
    <div class="container">

      <div class="navbar-left">
        <button class="navbar-toggler" type="button">&#9776;</button>
        <a class="navbar-brand" href="index.html">

        </a>
      </div>

      <section class="navbar-mobile text-dark">
        <span class="navbar-divider d-mobile-none"></span>

        <nav class="nav nav-navbar">
          <a class="nav-link" href="/about/">درباره/تماس</a>
          <a class="nav-link" href="/blog/">وبلاگ</a>
        </nav>
      </section>

      <a class="btn btn-sm btn-round btn-dark" href="/">i-pen.ir| قلم من </a>

    </div>
  </nav><!-- /.navbar -->

  <!-- Header -->
  <section class="img-fluid section section-inverse pb-12 pt-12"
    style="height: auto; background-image: url(/img/bg/bw.jpg)" data-overlay="1">
    <div class="container">
      <div class="row gap-y align-items-center">

      </div>
    </div>
  </section>
  <!-- /.header -->